<html>
{{> head}}

<body>
    {{> navbars }}
    <div class="row">
        <div class="col-8">
            <h1></h1>
        </div>
        <div class="col-4">
            <img src='assets/images/ace-profile.jpg' class="img-thumbnail">
        </div>
    </div>
    {{> footer}}
</body>

</html>